<!-- banner -->
<div class="banner d-flex justify-content-start align-items-center">
  <div class="container-fluid">
    <div class="row no-gutters">
      <div class="col-md-9">
        <div class="banner-img">
        </div>
      </div>
      <div class="col-md-3">
        <div class="notifications">
          <h4 class="py-4 text-center">News and Updates</h4>
          <ul class="update-items">
            <li>
              <span>Eligibility List 2020-2021</span>
              <a href="#" class="btn btn-new">NEW</a>
            </li>
            <li>
              <span>
                BSC (Comp Sci.) Admission 2020-2021
                extended to 30th Feb, 2021
              </span>
              <a href="#" class="btn btn-new">NEW</a>
            </li>
            <li>
              <span>
                Merit List for 2nd Year BSC(comp. sci.) published
              </span>
              <a href="#" class="btn btn-new">NEW</a>
            </li>
            <li>
              <span>
                Results of MCA 1st Year Announced
              </span>
              <a href="#" class="btn btn-new">NEW</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
