.projects-section, .projects {
  .project-item {
    padding-top: 2rem;
    padding-right: 2rem;

    .project-title {
      color: #1f2125;
    }
    .project-description {
      margin-top: 1rem;
      color: #444;
      font-size: 1.3rem;
      font-weight: 300;

      ul li {
        color: #666;
      }
    }
    .learn-more a {
      color: #1071ee;
      font-size: 1.2rem;
    }
  }
}

.project-page {
  margin: 50px 0;

  h1 {
    font-weight: 600;
  }
  h1, h2, h3 {
    color: #333;
  }
  h4, h5, h6 {
    color: #444;
  }

  p, ul li {
    margin: 0.8rem 0;
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
    color: #555;
  }

  img {
    margin: 1rem 0;
  }

  h1, h2 {
    margin: 2.5rem 0;
  }
  h3, h4, h5, h6 {
    margin: 2rem 0;
  }
  .back-btn {
    font-size: 1.5rem;
  }

  .project-details {
    h1, h2, h3 {
      margin: 0;
    }
  }
}
