/* Custom SCSS */
html,
body {
  height: 100%;
}
body {
  font-family: "Helvetica", Arial, sans-serif;
  font-size: 16px;
}
ul {
  list-style: none;
}

@import "syntax-highlighting";
@import "animate.min";
@import "home";
@import "responsive";
