<!-- about -->
<section class="about-section py-7">
  <div class="container relative">
    <div class="section-header">
      <h1 class="section-title float-left">ABOUT PUNE COLLEGE</h1>
      <div class="section-divider d-none d-sm-block"></div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-md-4">
        <img src="{{ site.image_base_url }}/college.jpg" class="img-fluid mt-2" alt="Profile">
      </div>
      <div class="col-md-6 offset-md-1">
        <p class="about-info">
          Pune College of Engineering is one of the top college for
          pursuing engeering degrees in Pune.
          <br>
          Below text is a dummy text which will be replaced with actual text in
          website development. Lorem, ipsum dolor sit amet consectetur adipisicing elit.
          Deleniti odio, assumenda molestiae hic veniam exercitationem  optio corporis e
          rror vero aspernatur.
        </p>
        <div class="features d-flex gap-2">
          <ul>
            <li>
              <img src="{{ site.image_base_url }}/checkbox.png" alt="Checkbox"> <span>Quality Education</span>
            </li>
            <li>
              <img src="{{ site.image_base_url }}/checkbox.png" alt="Checkbox"> <span>Excellent Infrastructure</span>
            </li>
            <li>
              <img src="{{ site.image_base_url }}/checkbox.png" alt="Checkbox"> <span>Value based Education</span>
            </li>
            <li>
              <img src="{{ site.image_base_url }}/checkbox.png" alt="Checkbox"> <span>Experienced Faculty</span>
            </li>
          </ul>
          <ul>
            <li>
              <img src="{{ site.image_base_url }}/checkbox.png" alt="Checkbox"> <span>Inter collegiate events</span>
            </li>
            <li>
              <img src="{{ site.image_base_url }}/checkbox.png" alt="Checkbox"> <span>Ragging free campus</span>
            </li>
            <li>
              <img src="{{ site.image_base_url }}/checkbox.png" alt="Checkbox"> <span>StartUp & Innovation</span>
            </li>
            <li>
              <img src="{{ site.image_base_url }}/checkbox.png" alt="Checkbox"> <span>Placement Assistance</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
