<!-- admissions -->
<section class="admissions-section py-7">
  <div class="container">
    <div class="section-header">
      <h1 class="section-title float-left">ADMISSIONS</h1>
      <div class="section-divider d-none d-sm-block"></div>
    </div>
    <div class="clearfix"></div>
    <div class="row no-gutters">
      <div class="col-md-3">
        <img src="{{ site.image_base_url }}/admissions.jpg" alt="Admissions" class="img-fluid">
      </div>
      <div class="col-md-9">
        <ul class="nav nav-tabs border-0" id="admissionsTab" role="tablist">
          <li class="nav-item" role="presentation">
            <a class="nav-link active" id="bachelor-tab" data-toggle="tab" href="#bachelor"
              role="tab" aria-controls="bachelor" aria-selected="true">Bachelor</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" id="masters-tab" data-toggle="tab" href="#masters"
              role="tab" aria-controls="profile" aria-selected="false">Masters</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" id="doctorate-tab" data-toggle="tab" href="#doctorate"
              role="tab" aria-controls="contact" aria-selected="false">Doctorate</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" id="international-tab" data-toggle="tab" href="#international"
              role="tab" aria-controls="international" aria-selected="false">International Students</a>
          </li>
        </ul>
        <div class="tab-content" id="admissionsTabContent">
          <div class="tab-pane fade show active" id="bachelor" role="tabpanel" aria-labelledby="bachelor-tab">
            <h4>Bachelore</h4>
            <p>
              If you're interested in pursuing a course at Pune college of Engineering.
              Follow the links below:
            </p>
            <ul>
              <li><img src="{{ site.image_base_url }}/arrow.png" alt="Arrow"><span>Requirements</span></li>
              <li><img src="{{ site.image_base_url }}/arrow.png" alt="Arrow"><span>Apply Now</span></li>
              <li><img src="{{ site.image_base_url }}/arrow.png" alt="Arrow"><span>Programs</span></li>
            </ul>
          </div>
          <div class="tab-pane fade" id="masters" role="tabpanel" aria-labelledby="masters-tab">
            <h4>Masters</h4>
            <p>
              If you're interested in pursuing a course at Pune college of Engineering.
              Follow the links below:
            </p>
            <ul>
              <li><img src="{{ site.image_base_url }}/arrow.png" alt="Arrow"><span>Requirements</span></li>
              <li><img src="{{ site.image_base_url }}/arrow.png" alt="Arrow"><span>Apply Now</span></li>
              <li><img src="{{ site.image_base_url }}/arrow.png" alt="Arrow"><span>Programs</span></li>
            </ul>
          </div>
          <div class="tab-pane fade" id="doctorate" role="tabpanel" aria-labelledby="doctorate-tab">
            <h4>Doctorate</h4>
            <p>
              If you're interested in pursuing a course at Pune college of Engineering.
              Follow the links below:
            </p>
            <ul>
              <li><img src="{{ site.image_base_url }}/arrow.png" alt="Arrow"><span>Requirements</span></li>
              <li><img src="{{ site.image_base_url }}/arrow.png" alt="Arrow"><span>Apply Now</span></li>
              <li><img src="{{ site.image_base_url }}/arrow.png" alt="Arrow"><span>Programs</span></li>
            </ul>
          </div>
          <div class="tab-pane fade" id="international" role="tabpanel" aria-labelledby="international-tab">
            <h4>International Students</h4>
            <p>
              To maintain the relationship with outside world, we have given a path to
              build a relationship by giving international students a special features:
            </p>
            <ul>
              <li><img src="{{ site.image_base_url }}/arrow.png" alt="Arrow"><span>Requirements</span></li>
              <li><img src="{{ site.image_base_url }}/arrow.png" alt="Arrow"><span>Apply Now</span></li>
              <li><img src="{{ site.image_base_url }}/arrow.png" alt="Arrow"><span>Programs</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
