<!-- contact -->
<section class="contact-section py-7">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <img src="{{ site.image_base_url }}/location.png" alt="Location" class="img-fluid">
      </div>
      <div class="col-md-4">
        <h3 class="text-white mb-3">Get In Touch</h3>
        <div class="contact-info text-white">
          <div class="location d-flex mb-2">
            <img src="{{ site.image_base_url }}/map.png" alt="Location">
            <p class="pl-2">
              Pune College,
              ABC Road, Ghorpadi,
              Pune 423401
              Maharashtra, India
            </p>
          </div>
          <div class="location d-flex mb-2">
            <img src="{{ site.image_base_url }}/call.png" alt="Call">
            <p class="pl-2">
              020 12345678 <br>
              020 98765432
            </p>
          </div>
          <div class="location d-flex">
            <img src="{{ site.image_base_url }}/mail.png" alt="Mail">
            <p class="pl-2">
              enquiry@punecollege.edu.in
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <h3 class="text-white mb-3">Quick Links</h3>
        <div class="quick-links text-white">
          <ul>
            <li><img src="{{ site.image_base_url }}/chevron-right.png" alt=""><span>Facilities</span></li>
            <li><img src="{{ site.image_base_url }}/chevron-right.png" alt=""><span>Scholarship</span></li>
            <li><img src="{{ site.image_base_url }}/chevron-right.png" alt=""><span>Virtual Classroom</span></li>
            <li><img src="{{ site.image_base_url }}/chevron-right.png" alt=""><span>College Life</span></li>
            <li><img src="{{ site.image_base_url }}/chevron-right.png" alt=""><span>Entrepreneurship Cell</span></li>
            <li class="mb-0"><img src="{{ site.image_base_url }}/chevron-right.png" alt=""><span>Anti-ragging</span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
