<!-- covid -->
<section class="covid-section py-7">
  <div class="container">
    <div class="row">
      <div class="col-md-8 d-none d-md-block">
        <div class="background-container">
          <div class="image-wrapper">
            <a href="#"><img src="{{ site.image_base_url }}/covid.jpg" alt="Covid response" class="img-fluid"></a>
          </div>
        </div>
      </div>
      <div class="col-md-7">
        <div class="covid-text-wrapper">
          <div class="inner-content">
            <h2 class="title mb-4">Pune College of Engineering responds to COVID 19</h2>
            <div class="description mb-4">
              <p>
                Following College true mission to serve the community, the nation and the world,
                students, faculty, staff and management are addressing the COVID-19 pandemic on
                multiple fronts. Explore new research, community impact initiatives, expert
                perspectives and more.
              </p>
            </div>
            <a href="#"><span class="text-primary">READ MORE NEWS <img src="{{ site.image_base_url }}/arrow.png" alt="Arrow"></span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
