<!-- gallery  -->
<section class="gallery-section bg-gray py-7">
  <div class="container">
    <div class="section-header">
      <h1 class="section-title float-left">GALLERY</h1>
      <a href="#" class="view-more float-right ml-3">VIEW MORE</a></h1>
      <div class="section-divider"></div>
    </div>
    <div class="clearfix"></div>
    <div class="row gallery-items">
      <div class="col-md-3 mb-4">
        <a href="{{ site.image_base_url }}/gallery/covid.jpg">
          <img src="{{ site.image_base_url }}/gallery/covid.jpg" class="card-img-top" alt="...">
        </a>
      </div>
      <div class="col-md-3 mb-4">
        <a href="{{ site.image_base_url }}/gallery/cycling.jpg">
          <img src="{{ site.image_base_url }}/gallery/cycling.jpg" class="card-img-top" alt="...">
        </a>
      </div>
      <div class="col-md-3 mb-4">
        <a href="{{ site.image_base_url }}/gallery/entrepreneurship.jpg">
          <img src="{{ site.image_base_url }}/gallery/entrepreneurship.jpg" class="card-img-top" alt="...">
        </a>
      </div>
      <div class="col-md-3 mb-4">
        <a href="{{ site.image_base_url }}/gallery/event.jpg">
          <img src="{{ site.image_base_url }}/gallery/event.jpg" class="card-img-top" alt="...">
        </a>
      </div>
      <div class="col-md-3 mb-4">
        <a href="{{ site.image_base_url }}/gallery/getogether.jpg">
          <img src="{{ site.image_base_url }}/gallery/getogether.jpg" class="card-img-top" alt="...">
        </a>
      </div>
      <div class="col-md-3 mb-4">
        <a href="{{ site.image_base_url }}/gallery/meeting.jpg">
          <img src="{{ site.image_base_url }}/gallery/meeting.jpg" class="card-img-top" alt="...">
        </a>
      </div>
      <div class="col-md-3 mb-4">
        <a href="{{ site.image_base_url }}/gallery/online.jpg">
          <img src="{{ site.image_base_url }}/gallery/online.jpg" class="card-img-top" alt="...">
        </a>
      </div>
      <div class="col-md-3 mb-4">
        <a href="{{ site.image_base_url }}/gallery/work-together.jpg">
          <img src="{{ site.image_base_url }}/gallery/work-together.jpg" class="card-img-top" alt="...">
        </a>
      </div>
    </div>
  </div>
</section>
