<!-- highlights -->
<div class="highlights">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-3 highlight-item">
        <img src="{{ site.image_base_url }}/programs.jpg" class="img-fluid" alt="Programs">
        <p class="highlight-title mb-0">
          PROGRAMS OFFERED
        </p>
      </div>
      <div class="col-md-3 highlight-item">
        <img src="{{ site.image_base_url }}/entrepreneurship.jpg" class="img-fluid" alt="Entrepreneurship">
        <p class="highlight-title mb-0">
          ENTREPRENEURSHIP
        </p>
      </div>
      <div class="col-md-3 highlight-item">
        <img src="{{ site.image_base_url }}/research.jpg" class="img-fluid" alt="Research">
        <p class="highlight-title mb-0">
          RESEARCH & INNOVATION
        </p>
      </div>
    </div>
  </div>
</div>
