<!-- news and events -->
<section class="news-events-section bg-white py-7">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-9">
        <div class="row">
          <div class="section-header col-12">
            <h1 class="section-title"><span class="title">NEWS</span>
            <a href="#" class="view-more">VIEW MORE</a></h1>
          </div>
          <div class="col-md-4">
            <div class="news-item mb-4">
              <img src="{{ site.image_base_url }}/staff-meeting.jpg" alt="Staff Meeting" class="img-fluid">
              <div class="news-info-wrapper">
                <p>
                  Staff meeting hold successfully to
                  tackle new challenges
                  for next semester.
                </p>
                <p>
                  <img src="{{ site.image_base_url }}/time.png" alt="Time"> <span>21<sup>st</sup> Feb, 2021</span>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="news-item">
              <img src="{{ site.image_base_url }}/hackathon.jpg" alt="Hackathon" class="img-fluid">
              <div class="news-info-wrapper">
                <p>
                  Intercollege Hackthon successfully hosted in Pune College of Engineering.
                </p>
                <p>
                  <img src="{{ site.image_base_url }}/time.png" alt="Time"> <span>1<sup>st</sup> Feb, 2021</span>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="news-item">
              <img src="{{ site.image_base_url }}/alumni-meet.jpg" alt="Hackathon" class="img-fluid">
              <div class="news-info-wrapper">
                <p>
                  100% results to all the MCA students in the second semester.
                </p>
                <p>
                  <img src="{{ site.image_base_url }}/time.png" alt="Time"> <span>15<sup>th</sup> Jan, 2021</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="row">
          <div class="events-header section-header col-12">
            <h1 class="section-title"><span class="title">EVENTS</span>
            <a href="#" class="view-more">VIEW MORE</a></h1>
          </div>
          <div class="col-12">
            <ul class="events">
              <li class="event-item d-flex">
                <div class="date">
                  <span>3<sup>rd</sup></span> Jan, 2021
                </div>
                <div class="name">
                  Online Alumni-Interaction
                  Session with faculty and
                  student
                </div>
              </li>
              <li class="event-item d-flex">
                <div class="date">
                  <span>5<sup>th</sup></span> Mar, 2021
                </div>
                <div class="name">
                  Career Guidance by
                  BRG to Masters Students
                </div>
              </li>
              <li class="event-item d-flex">
                <div class="date">
                  <span>10<sup>th</sup></span> Mar, 2021
                </div>
                <div class="name">
                  Fresher’s party by 2nd year
                  BSc(comp sci) to 3rd year
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="anniversary-news d-flex flex-column align-items-start justify-content-center">
          <h1 class="title">50<sup>th</sup> ANNIVERSARY [1970 - 2021]</h1>
          <h1 class="title mb-4">Pune College of Engineering</h1>
          <a href="#" class="btn btn-danger px-4 rounded-0">View Celebration Moments <img src="{{ site.image_base_url }}/chevron-right.png" alt="Right arrow"></a>
        </div>
      </div>
    </div>
  </div>
</section>
