<!-- partners -->
<section class="partners-section bg-white py-7">
  <div class="section-header">
    <h1 class="section-title text-center">OUR INDUSTRY PARTNERS</h1>
  </div>

  <div class="container">
    <div class="row justify-content-center">
      <img src="{{ site.image_base_url }}/comp1.png" alt="Partner 1">
      <img src="{{ site.image_base_url }}/comp2.png" alt="Partner 2">
      <img src="{{ site.image_base_url }}/comp5.png" alt="Partner 5">
      <img src="{{ site.image_base_url }}/comp3.png" alt="Partner 3">
      <img src="{{ site.image_base_url }}/comp4.png" alt="Partner 4">
    </div>
  </div>
</section>
