<!-- principal message -->
<section class="principal-section py-7">
  <div class="container relative">
    <div class="section-header">
      <h1 class="section-title float-left">PRINCIPAL'S MESSAGE</h1>
      <div class="section-divider d-none d-sm-block"></div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-md-6">
        <p class="message-info">
          This section will contain the principal’s or director’s message
          about the college. And, this paragraph should contain main highlights
          for the message and enforce to read the below paragraph.

          This can be the second para and other details. Lorem, ipsum dolor
          sit amet consectetur adipisicing elit.  Deleniti odio, assumenda
          molestiae hic veniam exercitationem  optio corporis error vero aspernatur.

          <br>
          <br>
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Voluptate optio nihil, sunt quia at sint quaerat
          perferendis tenetur maiores ducimus?
        </p>
      </div>
      <div class="col-md-4 offset-md-1">
        <img src="{{ site.image_base_url }}/principal.jpg" class="img-fluid mt-2" alt="Principal">
      </div>
    </div>
  </div>
</section>
